@import './variable.scss';

.footer{
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 20vw;
    border-top: 1px solid $color;
    img{
        width: 50px;
    }
    .links{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: $color;
        a{
            font-size: 18px;
            color: $color;
            text-decoration: none;
            align-items: flex-start;

        }
    }
    .socialMedia{
        color: $color;
        a{
            color: $color;
            .icon{
                font-size: 26px;
                margin: 0 5px;
                cursor: pointer;
            }
        }
        
    }
}