@import './variable.scss';

.home {
    overflow-x: hidden;
    position: relative;

    .sec-1 {
        height: 980px;
        background-image: url('../../assets/img/mainBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(40%);

            .card {
                width: 500px;
                height: 350px;
                // background-color: red;
                position: absolute;
                top: 30vh;
                left: 8vw;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 36px;
                    margin-bottom: 10px;
                    color: $color;

                }

                h1 {
                    font-size: 64px;
                    color: $yellow;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 1.5;
                    color: $color;
                }
            }

            .hexagon1 {
                width: 100px;
                height: 100px;
                background-image: url('../../assets/img/Nistru.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: -5vw;
                top: 7vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
                outline: 2px solid red;
            }

            .hexagon2 {
                width: 150px;
                height: 150px;
                background-image: url('../../assets/img/CetateaSoroca.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 3vw;
                top: 30vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
                outline: 2px solid red;
            }

            .hexagon3 {
                width: 250px;
                height: 250px;
                background-image: url('../../assets/img/CastelMimi.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 21vw;
                top: 43vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
            }

            .hexagon4 {
                width: 200px;
                height: 200px;
                background-image: url('../../assets/img/Chisinau.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 4vw;
                top: 60vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
            }

            .hexagon5 {
                width: 150px;
                height: 150px;
                background-image: url('../../assets/img/OrheiulVechi.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 18vw;
                top: 18vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
            }

            .hexagon6 {
                width: 200px;
                height: 200px;
                background-image: url('../../assets/img/Cricova.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 32vw;
                top: 8vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
            }

            .hexagon7 {
                width: 200px;
                height: 200px;
                background-image: url('../../assets/img/StefanCelMare.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: 42vw;
                top: 60vh;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: 0.5s ease-in-out;
            }

            .hex:hover {
                transform: scale(1.1);
            }
        }
    }

    .sec-2 {
        background-color: $secBgColor;
        color: $color;

        .triangle {
            height: 50px;
            background-color: $bgColor;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }

        .subSec-1 {
            display: flex;
            padding: 50px 50px;
            align-items: center;
            gap: 50px;

            .left {
                flex: 1;
                margin-left: 30px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    max-width: 700px;
                    font-size: 20px;
                    line-height: 1.5;
                    margin-left: 20px;
                }
            }

            .right {
                flex: 1;
                display: flex;
                justify-content: space-around;

                img {
                    border-radius: 30px;
                    width: 80%;
                    opacity: 0;
                    transition: 1s;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }
        }

        .subSec-2 {
            display: flex;
            padding: 50px 50px;
            align-items: center;
            gap: 50px;

            .right {
                flex: 1;
                margin-left: 30px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    max-width: 700px;
                    font-size: 20px;
                    line-height: 1.5;
                    margin-left: 20px;
                }
            }

            .left {
                flex: 1;
                display: flex;
                justify-content: space-around;

                img {
                    border-radius: 30px;
                    height: 600px;
                    opacity: 0;
                    transition: 1s;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }
        }

        .subSec-3 {
            display: flex;
            padding: 50px 50px;
            align-items: center;
            gap: 50px;

            .left {
                flex: 1;
                margin-left: 30px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    max-width: 700px;
                    font-size: 20px;
                    line-height: 1.5;
                    margin-left: 20px;
                }
            }

            .right {
                flex: 1;
                display: flex;
                justify-content: space-around;

                img {
                    border-radius: 30px;
                    width: 600px;
                    opacity: 0;
                    transition: 1s;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }
        }

        .subSec-4 {
            display: flex;
            padding: 50px 50px;
            align-items: center;
            gap: 50px;

            .left {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                p {
                    text-align: center;
                    max-width: 700px;
                    font-size: 20px;
                    line-height: 1.5;
                }
            }

            .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                p {
                    text-align: center;
                    max-width: 700px;
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
        }
    }

    .sec-3 {
        background-color: $bgColor;
        height: 25vh;
        overflow: hidden;

        img {
            width: 20%;
            height: 100%;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            transition: 0.5s ease-in-out;
        }

        img:hover {
            transform: scaleX(1.1);
        }
    }

    .sec-4 {
        background-color: $secBgColor;
        color: $color;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;
            h2{
                font-size: 30px;
                margin-bottom: 50px;
            }
            .links {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                a {
                    background-color: $bgColor;
                    color: $color;
                    font-size: 20px;
                    padding: 8px 15px;
                    border: 1px solid $color;
                    border-radius: 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    transition: 0.5s ease-in-out;
                    .icon {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                a:hover{
                    box-shadow: 0 0 20px 10px $bgColor;
                }
            }
        }
        .triangle{
            height: 50px;
            background-color: $bgColor;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
    }
}

@media screen and (max-width: 1200px) {
    .home{
        .sec-1{
            .filter{
                .hexagon1{
                    top: 300px;
                }
                .hexagon2{
                    display: none;
                }
                .hexagon3{
                    display: none;
                }
                .hexagon4{
                    display: initial;
                    top: 550px
                }
                .hexagon5{
                    display: none;
                }
                .hexagon6{
                    right: 100px;
                }
                .hexagon7{
                    right: 350px;
                    top: 700px;
                }
            }
        }
        .sec-2{
            .content{
                .subSec-1{
                    flex-direction: column;
                    .left{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                        }
                    }
                }
                .subSec-2{
                    flex-direction: column;
                    .left{
                        img{
                            height: 400px;
                        }
                    }
                    .right{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                        }
                    }
                }
                .subSec-3{
                    flex-direction: column;
                    .left{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                        }
                    }
                }
                .subSec-4{
                    flex-direction: column;
                }
            }
        }
        .sec-3{
            height: 140px;
        }
        .sec-4{
            .content{
                .links{
                    flex-direction: column;
                    a{
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .home{
        .sec-1{
            height: 100vh;
            .filter{
                .card{
                    p{
                        max-width: 80vw;
                        font-size: 18px;
                    }
                }
                .hexagon1{
                    top: 220px;
                    right: -50px;
                    display: none;
                }
                .hexagon2{
                    display: none;
                }
                .hexagon3{
                    display: none;
                }
                .hexagon4{
                    display: initial;
                    top: 550px;
                    display: none;
                }
                .hexagon5{
                    display: none;
                }
                .hexagon6{
                    top: 75px;
                    right: 50px;
                    width: 125px;
                    height: 125px;
                    display: none;
                }
                .hexagon7{
                    right: 200px;
                    top: 700px;
                    display: none;
                }
            }
        }
        .sec-2{
            .content{
                .subSec-1{
                    flex-direction: column;
                    .left{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                    .right{
                        img{
                            width: 300px;
                        }
                    }
                }
                .subSec-2{
                    flex-direction: column;
                    .left{
                        img{
                            height: 300px;
                        }
                    }
                    .right{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                }
                .subSec-3{
                    flex-direction: column;
                    .left{
                        h2{
                            text-align: center;
                        }
                        p{
                            margin-left: 0;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                    .right{
                        img{
                            width: 300px;
                        }
                    }
                }
                .subSec-4{
                    .left{
                        p{
                            font-size: 18px;
                        }
                    }
                    .right{
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .sec-3{
            height: 80px;
        }
        .sec-4{
            .content{
                .links{
                    flex-direction: column;
                    a{
                        margin-bottom: 25px;
                        text-align: center;
                    }
                }
            }
        }
    }
}