.home {
    overflow-x: hidden;
    position: relative;

    .sec-1 {
        height: 100vh;
        background-image: url('../../assets/img/mainBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        .card{
            width: 500px;
            height: 350px;
            background-color: red;
            position: absolute;
            top: 30vh;
            left: 8vw;
        }
        .hexagon1 {
            width: calc(100vw / 10);
            height: calc(100vw / 10);
            background-image: url('../../assets/img/Nistru.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: -5vw;
            top: 7vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon2 {
            width: calc(100vw / 8);
            height: calc(100vw / 8);
            background-image: url('../../assets/img/CetateaSoroca.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 3vw;
            top: 24vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon3 {
            width: calc(100vw / 5);
            height: calc(100vw / 5);
            background-image: url('../../assets/img/CastelMimi.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 21vw;
            top: 43vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon4 {
            width: calc(100vw / 6);
            height: calc(100vw / 6);
            background-image: url('../../assets/img/Chisinau.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 4vw;
            top: 60vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon5 {
            width: calc(100vw / 10);
            height: calc(100vw / 10);
            background-image: url('../../assets/img/OrheiulVechi.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 18vw;
            top: 20vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon6 {
            width: calc(100vw / 6);
            height: calc(100vw / 6);
            background-image: url('../../assets/img/Cricova.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 30vw;
            top: 10vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hexagon7 {
            width: calc(100vw / 6);
            height: calc(100vw / 6);
            background-image: url('../../assets/img/StefanCelMare.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 40vw;
            top: 65vh;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            transition: 0.5s ease-in-out;
        }

        .hex:hover {
            transform: scale(1.1);
        }

    }
}